$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import "govuk-frontend/dist/govuk/index";
@import "@ministryofjustice/frontend/moj/all";

@import './components/header-bar';
@import './components/card';
@import './components/autocomplete';
@import './components/loading_spinner';
@import './components/multiselect';
@import './overrides/local';
@import './overrides/govuk-overrides';
@import './overrides/moj-overrides';

.pull-right {
  text-align: right;
}

.wrapped-pre {
  white-space: pre-wrap;
}

@import './debug-session';
